body {
    margin: 0px;
}

ul {
    list-style-type: none;
}

/*----- Classes -----*/
.background {
    margin: 0px;
}

.foreground {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
}

.languages {
    width: max-content;
    font-size: 4vw;
}

/*----- IDs -----*/
#Home {
    background-color: white;
}

#Projects {
    background-color: white;
}

#Contact {
    background-color: white;
}

#intro {
    font-size: 8vw;
}

#project_title {
    margin-left: 3vw;
    text-align: left;
    font-size: 5vw;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#flappy_bird {
    border-radius: 10px;
    border-style: solid;
    font-size: 3svw;
    width: 25vw;
}

/*----- Specific Modifications -----*/
a:link {
    text-decoration: none;
}